db.sqlite3
venv
*.pyc
*.sqlite3
*.mmdb
*.log
media/*
!media/static
.DS_Store
node_modules
bower_components
.idea
web/static/js/jsx_build/.module-cache
/data
/reload
/static
local_settings.py
metastore_db
venv/
*settings/production.py
.cache

*.db
*.pid

# IDE
.pylintrc
tox.ini
.vscode/*
