{% extends 'app/base_admin.html' %}
{% load static %}

{% block title %} Add slider {% endblock %}

{% block body %}

    <!-- Right Side Content Start -->
    <section id="content" class="seipkon-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <!-- message framework -->
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div style="color:#f00; text-align:center, font-size:20px" {% if message.tags %}
                                 class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- end message framework -->

                <!-- Add Product Category Start -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="page-box">
                            <form method="POST" data-parsley-validate>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="control-label">Slide layer one (max text max length 15 latter)</label>
                                    {{ slider_form.slide_layer1 }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Slide layer two (max text max length 25 latter)</label>
                                    {{ slider_form.slide_layer2 }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Slide layer three (max text max length 35
                                        latter)</label>
                                    {{ slider_form.slide_layer3 }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Slide layer link</label>
                                    {{ slider_form.slide_link }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Slide image url</label>
                                    {{ slider_form.slider_image }}
                                </div>
                                <div class="form-layout-submit">
                                    <button type="submit" class="btn btn-info">Add slider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Add Product Category -->


                <div class="row">
                    <div class="col-md-12">
                        <div class="page-box">
                            <div class="page-box">
                                <table id="invoice-list" class="table display table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sl</th>
                                        <th>slide layer1</th>
                                        <th>slide layer2</th>
                                        <th>slide link</th>
                                        <th>slide image</th>
                                        <th>Date</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    {% if slider_obj %}
                                        {% for obj in slider_obj %}
                                            <tbody>
                                            <th>#{{ obj.id }}</th>
                                            <th>{{ obj.slide_layer1 }}</th>
                                            <th>{{ obj.slide_layer2 }}</th>
                                            <th>{{ obj.slide_link }}</th>
                                            <th><img src="{{ obj.slider_image }}" width="80px" height="120px"/></th>
                                            <th>{{ obj.create_at }}</th>
                                            <th><a class="btn btn-success"
                                                   href="{% url 'editSliderViews' obj.slide_layer1 %}">Edit</a></th>
                                            <th><a class="btn btn-danger" href="{% url 'editDeleterViews' obj.id %}">Delete</a>
                                            </th>
                                            </tbody>
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Right Side Content -->
{% endblock %}
