{% extends 'app/base_admin.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block body %}

    <!-- Right Side Content Start -->
    <section id="content" class="seipkon-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <!-- Breadcromb Row Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-area">
                        <div class="row">
                            <div class="col-md-6  col-sm-6">
                                <div class="seipkon-breadcromb-left">
                                    <h3>Dashboard</h3>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="seipkon-breadcromb-right">
                                    <ul>
                                        <li><a href="{% url 'DashboardViews' %}">home</a></li>
                                        <li>dashboard</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcromb Row -->
            <!-- Widget Row Start -->
            <div class="row">
                <!-- End Col -->
                <div class="col-md-3">
                    <div class="widget_card_page grid_flex widget_bg_dark_yellow">
                        <div class="widget-icon">
                            <i class="fa fa-product-hunt" aria-hidden="true"></i>
                        </div>
                        <div class="widget-page-text">
                            <h4>{{ count_product }}</h4>
                            <h2>Total Product</h2>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-md-3">
                    <div class="widget_card_page grid_flex widget_bg_dark_red">
                        <div class="widget-icon">
                            <i class="fa fa-tags"></i>
                        </div>
                        <div class="widget-page-text">
                            <h4>{{ count_item }}</h4>
                            <h2>Total Items</h2>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-md-3">
                    <div class="widget_card_page grid_flex widget_bg_blue">
                        <div class="widget-icon">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="widget-page-text">
                            <h4>{{ order_item }}</h4>
                            <h2>Total order</h2>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-md-3">
                    <div class="widget_card_page grid_flex widget_bg_purple">
                        <div class="widget-icon">
                            <i class="fa fa-user-o"></i>
                        </div>
                        <div class="widget-page-text">
                            <h4>{{ total_customar }}</h4>
                            <h2>Total Customer</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Row -->

            <!-- Widget Row Start -->
            <div class="row">
                <div class="col-md-6">
                    <div class="widget_card_two alert">
                        <div class="widget_card_header">
                            <h3>Month Statistics</h3>
                            <ul>
                                <li>
                                    <a class="widget_card_accordion" data-toggle="collapse" href="#chart_1"
                                       role="button" aria-expanded="false" aria-controls="chart_1"></a>
                                </li>
                                <li>
                                    <a href="#" class="widget_close_two" data-toggle="tooltip" title="Remove"
                                       data-dismiss="alert" aria-label="close">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_card_body collapse in" id="chart_1">
                            <div class="chart">
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Col -->
                <div class="col-md-6">
                    <div class="widget_card_two alert">
                        <div class="widget_card_header">
                            <h3>Yearly Statistics</h3>
                            <ul>
                                <li>
                                    <a class="widget_card_accordion" data-toggle="collapse" href="#chart_1"
                                       role="button" aria-expanded="false" aria-controls="chart_1"></a>
                                </li>
                                <li>
                                    <a href="#" class="widget_close_two" data-toggle="tooltip" title="Remove"
                                       data-dismiss="alert" aria-label="close">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_card_body collapse in" id="chart_1">
                            <div class="chart">
                                <div id="sales_chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->

            <!-- Widget Row Start -->
            <div class="row">
                <div class="col-md-8">
                    <div class="widget_card_two alert">
                        <div class="widget_card_header">
                            <h3>Last update</h3>
                            <ul>
                                <li>
                                    <a class="widget_card_accordion" data-toggle="collapse" href="#invoice_statement"
                                       role="button" aria-expanded="false" aria-controls="invoice_statement"></a>
                                </li>
                                <li>
                                    <a href="#" class="widget_close_two" data-toggle="tooltip" title="Remove"
                                       data-dismiss="alert" aria-label="close">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_card_body collapse in" id="invoice_statement">
                            <div class="table-responsive">
                                <table id="invoice-list" class="table display table-hover">
                                    <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Item Name</th>
                                        <th>Price</th>
                                        <th>Date</th>
                                        <th>Color</th>
                                        <th>Brand</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if new_product %}
                                        {% for product in new_product %}
                                            <tr>
                                                <td>{{ product.category }}</td>
                                                <td>{{ product.name }}</td>
                                                <td>৳ {{ product.product_price }}</td>
                                                <td>{{ product.create_at_item }}</td>
                                                <td>{{ product.product_color }}</td>
                                                <td>{{ product.brand_name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="widget_card_two alert">
                        <div class="widget_card_header">
                            <h3>New Order List</h3>
                            <ul>
                                <li>
                                    <a class="widget_card_accordion" data-toggle="collapse" href="#mail_home"
                                       role="button" aria-expanded="false" aria-controls="mail_home"></a>
                                </li>
                                <li>
                                    <a href="#" class="widget_close_two" data-toggle="tooltip" title="Remove"
                                       data-dismiss="alert" aria-label="close">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <table id="invoice-list" class="table display table-hover">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Product Name</th>
                                <th>Customar Name</th>
                                <th>Customar Contact</th>
                                <th>Customar Address</th>
                                <th>Order Date & Time</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if order %}
                                {% for orders in order %}

                                    <tr>
                                        <td><img src="{{ orders.product.product_image }}" alt="product"/></td>
                                        <td>{{ orders.product.name }}</td>
                                        <td>{{ orders.order.full_name }}</td>
                                        <td>{{ orders.order.phn_number }}</td>
                                        <td>{{ orders.order.address }}</td>
                                        <td>{{ orders.order.created }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-md-4">
                    <div class="widget_card_two alert">
                        <div class="widget_card_header">
                            <h3>Earnings reports</h3>
                            <ul>
                                <li>
                                    <a class="widget_card_accordion" data-toggle="collapse" href="#Earnings"
                                       role="button" aria-expanded="false" aria-controls="Earnings"></a>
                                </li>
                                <li>
                                    <a href="#" class="widget_close_two" data-toggle="tooltip" title="Remove"
                                       data-dismiss="alert" aria-label="close">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_card_body collapse in" id="Earnings">
                            <div class="chart">
                                <ul class="earning_chart">
                                    <li>
                                        <h4>today</h4>
                                        <p>155</p>
                                    </li>
                                    <li>
                                        <h4>Last week</h4>
                                        <p>783</p>
                                    </li>
                                    <li>
                                        <h4>Last Month</h4>
                                        <p>2632</p>
                                    </li>
                                </ul>
                                <div id="donut-example" style="height:250px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget_card_two alert">
                        <div class="widget_card_header">
                            <h3>Account Summary</h3>
                            <ul>
                                <li>
                                    <a class="widget_card_accordion" data-toggle="collapse" href="#Campaign"
                                       role="button" aria-expanded="false" aria-controls="Campaign"></a>
                                </li>
                                <li>
                                    <a href="#" class="widget_close_two" data-toggle="tooltip" title="Remove"
                                       data-dismiss="alert" aria-label="close">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_card_body collapse in" id="Campaign">
                            <div class="progress-list">
                                <div class="progress-box">
                                    <p class="progress-title">Sonaly Bank</p>
                                    <p class="progress-size">70%</p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 70%"></div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <p class="progress-title">Dutch-Bangla Bank</p>
                                    <p class="progress-size">80%</p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar"
                                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 80%"></div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <p class="progress-title">Islaic Bank</p>
                                    <p class="progress-size">90%</p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar"
                                             aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 90%"></div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <p class="progress-title">Uttara Bank</p>
                                    <p class="progress-size">85%</p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar"
                                             aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 85%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget_card_two alert">
                        <div class="widget_card_header">
                            <h3>create notes</h3>
                            <ul>
                                <li>
                                    <a class="widget_card_accordion" data-toggle="collapse" href="#notes" role="button"
                                       aria-expanded="false" aria-controls="notes"></a>
                                </li>
                                <li>
                                    <a href="#" class="widget_close_two" data-toggle="tooltip" title="Remove"
                                       data-dismiss="alert" aria-label="close">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_card_body collapse in" id="notes">
                            <div class="notes_sector">
                                <form method="POST">
                                    {% csrf_token %}
                                    <p>
                                        {{ note_form.nodte_date }}
                                    </p>
                                    <p>
                                        {{ note_form.note_title }}
                                    </p>
                                    <p class="notes_create">
                                        {{ note_form.note_body }}
                                    </p>
                                    <p>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-pencil"></i> Save
                                            note
                                        </button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
    </div>
{% endblock %}
