{% extends 'app/base_admin.html' %}
{% load static %}

{% block title %} Add new User {% endblock %}

{% block body %}

    <!-- Right Side Content Start -->
    <section id="content" class="seipkon-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-primary"
                                data-backdrop="static" , data-keyboard="false"><i class="fa fa-plus"></i> Add User
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <!-- message framework -->
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div class="message_text">{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- end message framework -->
                    </div>
                    <div class="col-lg-4 text-right">
                        <div class="searchForm">
                            <form method="GET">
                                {% csrf_token %}
                                <input type="text" name="search_item" placeholder="search...">
                                <button type="submit" name="button"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- .modal -->
                <div class="modal  fade" id="modal-primary">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">User From</h4>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="control-label">User name :</label>
                                        {{ form.username }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">First name :</label>
                                        {{ form.first_name }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Last name :</label>
                                        {{ form.last_name }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email Addresss :</label>
                                        {{ form.email }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Password :</label>
                                        {{ form.password1 }}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Confirm-Password :</label>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-box">
                            <div class="page-box">
                                <table id="invoice-list" class="table display table-hover">
                                    <thead>
                                    <tr>
                                        <th>Sl</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    {% if users %}
                                        {% for obj in users %}
                                            <tbody>
                                            <th>#{{ obj.id }}</th>
                                            <th>{{ obj.first_name }}</th>
                                            <th>{{ obj.last_name }}</th>
                                            <th>{{ obj.username }}</th>
                                            <th>{{ obj.email }}</th>
                                            <th><a class="btn btn-success"
                                                   href="{% url 'updateUserView' obj.id %}">Edit</a></th>
                                            <th><a class="btn btn-danger"
                                                   href="{% url 'deleteUser' obj.id %}">Delete</a></th>
                                            </tbody>
                                        {% endfor %}
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pagination -->
                <div class="page-nation text-right">
                    {% if users.has_other_pages %}
                        <ul class="pagination">
                            {% if users.has_previous %}
                                <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in users.paginator.page_range %}
                                {% if users.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if users.has_next %}
                                <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
                <!-- pagination -->
            </div>
        </div>
    </section>
    <!-- End Right Side Content -->
{% endblock %}
