.delivery_main {
  max-width: 465px;
  border-right: 1px solid #dee2e6;
  position: relative;
}

.delivery_header {
  background: url("https://chatfood.imgix.net/static/onno/assets/cover-upload-1610817658.jpeg")
    no-repeat;
  height: 280px;
  background-size: contain;
}
.btn-discount {
  padding: 12px 19px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 4px;
}
input.form-control {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 11px 16px;
  font-size: 14px;
  line-height: 18px;
  transition: all ease 0.4s;
}

.discount-box {
  padding: 25px 0;
  margin-bottom: 30px;
  &.bg-gray {
    background: #f5f5f5;
    padding: 25px;
    margin-top: 25px;
    border-radius: 4px;
    h4 {
      margin-bottom: 20px;
      font-size: 17px;
      line-height: 27px;
      font-weight: 600;
    }
    .preview-box {
      background: #fff;
      border-radius: 15px;
      display: flex;
      padding: 15px;
      .preview-icon {
        width: 36px;
        height: 36px;
        background: rgba($primary_color, 0.2);
        color: $primary_color;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
        margin-right: 15px;
      }
      h5 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
      }
      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }
  @media (max-width: 992px) {
    margin-bottom: 20px;
  }
}

.header_title {
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
}

.search_area {
  form {
    position: relative;
  }
  input {
    padding-left: 35px;
    font-weight: 400;
    font-size: 14px;
  }
  input:focus {
    // border-color: $primary_color;
    border: 2px solid $primary_color;
  }
  button {
    background: transparent;
    border: transparent;
    position: absolute;
    top: 10px;
    left: 5px;
  }
}

.item_list {
  ul li {
    border-top: 1px solid #dee2e6;
    padding: 10px 0;
    transition: 0.6s;
  }
  ul .parent_item {
    font-weight: 700;
    border-top: 1px solid transparent;
    padding-left: 12px;
  }
  ul .parent_item:hover {
    background: transparent;
  }
  ul li span {
    float: right;
    padding-right: 12px;
  }
  ul li a {
    color: #191818;
    padding-left: 12px;
    display: block;
  }
  ul li:hover {
    background-color: #ccc;
  }
}

.item_info {
  border-bottom: 2px solid #dee2e6;
  .info {
    font-size: 12px;
    svg {
      color: $primary_color;
    }
  }
}

.devering_to {
  h6 {
    font-size: 13px;
    font-weight: 700;
  }
  button {
    background: $primary_color;
    color: white;
    font-weight: 100;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 4px 12px;
    font-size: 13px;
  }
  button:last-child {
    background: transparent;
    border: 1px solid #cbd5e0;
    color: rgba(136, 141, 154, var(--text-opacity));
  }
  svg {
    color: $primary_color;
  }
}

.items {
  transition: 0.6s;
  .item_list {
    padding: 35px 0;
    h3 {
      font-size: 15px;
      color: #000;
    }
    h4 {
      font-size: 13px;
      padding-top: 5px;
      color: #000;
    }
    p {
      font-weight: 300;
      margin-bottom: 2px;
      color: #9e9a9a;
    }
  }
}

.item_photo img {
  width: 100%;
  margin-top: 25px;
}

.items_area {
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
  .item_content {
    width: 70%;
    float: left;
  }
  .item_photo {
    float: right;
    width: 25%;
    margin-right: 15px;
  }
}

.items_area:last-child {
  border-bottom: 0 transparent;
}

.items_area:hover {
  background: #f2f2f2;
}

.brand_name {
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
}

.item_details {
  max-width: 465px;
  // height: 100vh;
  background: white;
  box-shadow: 1px 0 3px -2px #888;
  position: relative;
}

.item_details_info {
  position: relative;
  h2 {
    font-size: 22px;
    font-weight: 700;
  }
  a {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: transparent;
    svg {
      width: 35px;
      height: 35px;
      padding: 5px;
      border-radius: 50%;
      color: $primary_color;
      border: 1px solid #f2f2f2;
      transition: 0.6s;
    }
    svg:hover {
      border-color: $primary_color;
    }
  }
}

.item_quantity {
  button {
    background: transparent;
    border: 1px solid transparent;
    transition: 0.6s;
    margin-bottom: 20px;
    svg {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid #f2f2f2;
      color: $primary_color;
      padding: 5px;
    }
    svg:hover {
      border: 1px solid $primary_color;
    }
  }
  span {
    font-size: 30px;
    vertical-align: super;
  }
}

.quantity_title {
  font-size: 17px;
  color: #000;
}

.basket_area {
  .add_to_basket {
    display: flex;
    padding: 15px 8px;
    background: $primary_color;
    color: white;
    border: transparent;
    text-align: center;
    width: calc(100% - 30px);
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    margin: auto;
    transition: 0.6s;
    justify-content: space-between;
    .btn_cart_text {
      font-size: 18px;
    }
  }
  .add_to_basket:hover {
    background: $secondary_color;
  }
}

// Basket header
.basket_header {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  box-shadow: 0 3px 2px -1px grey;
  svg {
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid transparent;
    color: $primary_color;
    background: #f2f2f2;
    cursor: pointer;
    transition: 0.6s;
  }
  svg:hover {
    border-color: $primary_color;
  }
  h3 {
    font-size: 16px;
    line-height: 32px;
  }
}

// Basket information
.basket_item_info {
  display: flex;
  padding: 10px 0;
  margin-top: 30px;
  .basket_info {
    padding: 0 20px;
    h3 {
      font-size: 16px;
    }
  }
  .basket_update {
    margin-left: 35px;
    button {
      background: transparent;
      border: transparent;
    }
    svg {
      width: 30px;
      height: 30px;
    }
    .item_quantity {
      margin-top: 0 !important;
      span {
        font-size: 23px;
        font-weight: 300;
      }
    }
  }
}

.special_instructions {
  padding: 12px 15px;
  margin-top: 15px;
  h2 {
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px;
    margin-bottom: 15px;
  }
  textarea {
    padding: 20px;
  }
  textarea:focus {
    border-color: $primary_color;
  }
}

.basket_pricing {
  padding-left: 15px;
  border-radius: 6px;
  .pricing {
    ul li {
      padding-bottom: 8px;
      font-size: 16px;
      span {
        float: right;
        padding-right: 15px;
      }
    }
  }
}

.review_button {
  padding-bottom: 30px;
  padding-top: 30px;
  button {
    display: block;
    border-radius: 6px;
    width: calc(100% - 30px);
    font-size: 16px;
    padding: 18px 10px;
    border: transparent;
    background: $primary_color;
    color: white;
    font-weight: 500;
    transition: 0.6s;
    margin: auto;
  }
  button:hover {
    background: $secondary_color;
  }
}

// OTP
.otp_main {
  background: white;
  width: 465px;
  height: 100vh;
  border-right: 1px solid #dee2e6;
  h2 {
    font-size: 30px;
  }
  svg {
    margin: 17px 0;
  }
  input {
    border: 2px solid #ced4da;
    padding: 0.675rem 0.75rem;
    border-radius: 6px;
  }
  .form-control:focus {
    border-color: $primary_color;
  }
  button {
    width: 100%;
    display: block;
    background: $primary_color;
    padding: 15px 20px;
    border: transparent;
    color: white;
    border-radius: 6px;
  }
  .otp_code_not_send {
    color: $primary_color;
    text-decoration: underline;
  }
}

.otp_confirm {
  input {
    width: 100% !important;
    height: 100%;
    padding: 20px 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }
  input:focus {
    border-color: $primary_color;
  }
}

.checkout_btn {
  width: 450px;
  position: fixed;
  bottom: 15px;
  margin: auto;
}
