$orbit-1-width: 500px;
$orbit-2-width: 680px;
$orbit-3-width: 790px;

$orbit-1-color: #e24d25;
$orbit-2-color: #3a4f64;
$orbit-3-color: #374c61;

$orbit-1-time: 15s;
$orbit-2-time: 18s;
$orbit-3-time: 22s;

$moon-size: 60px;
$moon-size-sm: 30px;

$moon-1-width: 75px;
$moon-2-width: 75px;
$moon-3-width: 75px;

.error_section {
  background: #f05a22;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  position: fixed;
}
 
.space {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  
  >div {
    position: absolute;   
  }
  
  .text {
    display: table;
    z-index: 100;
    margin-top: -$orbit-1-width/2;
    margin-left: -$orbit-1-width/2;
    width: $orbit-1-width;
    height: $orbit-1-width;
    color: #fff;
    
    .align-middle {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    
    h1 {
      font-size: 140px;
      line-height: 0.01em;
    }
    
    p {
      font-size: 18px;
      color: #fff;
    }
  }
  
  /* Moon */
  div[class^="moon"] {
    background: url('https://i.imgur.com/0i18KL5.png');
    background-size: $moon-size;
    width: $moon-size;
    height: $moon-size;
    z-index: 10;
  }
  
  div[class^="moon"].sm {
      background-size: $moon-size-sm;
      width: $moon-size-sm;
      height: $moon-size-sm;
    }
  
  .moon-1 {
    margin-top: -$moon-size-sm/2;
    margin-left: -$moon-size-sm/2;
    background-size: 50% auto;
    animation: orbit1 $orbit-1-time linear infinite;
  }
  
  .moon-2 {
    margin-top: -$moon-size-sm/2; 
    margin-left: -$moon-size-sm/2;
    
    animation: orbit2 -6s $orbit-2-time linear infinite;
  }
  
  .moon-3 {
    margin-top: -$moon-size/2;
    margin-left: -$moon-size/2;

    animation: orbit3 -12s $orbit-3-time linear infinite;
  }
  
  .orbit-1 {
    margin-top: -$orbit-1-width/2;
    margin-left: -$orbit-1-width/2;
    width: $orbit-1-width;
    height: $orbit-1-width;
    border-radius: $orbit-1-width/2;
    background: $orbit-1-color;
    z-index: 8; 
  }
  
  .orbit-2 {
    margin-top: -$orbit-2-width/2;
    margin-left: -$orbit-2-width/2;
    width: $orbit-2-width;
    height: $orbit-2-width;
    border-radius: $orbit-2-width/2;
    background: $orbit-2-color;
    z-index: 7;
  }
  
   .orbit-3 {
    margin-top: -$orbit-3-width/2;
    margin-left: -$orbit-3-width/2;
    width: $orbit-3-width;
    height: $orbit-3-width;
    border-radius: $orbit-3-width/2;
    background: $orbit-3-color;
    z-index: 6;
  }
  
} 
 
 /*animation: juggle $time linear infinite;*/
 
@keyframes orbit1 {
	from { 	transform: rotate(0deg) translateX($orbit-1-width/2); }
	to   {  transform: rotate(360deg) translateX($orbit-1-width/2); }
}

@keyframes orbit2 {
	from { 	transform: rotate(0deg) translateX($orbit-2-width/2); }
	to   {  transform: rotate(360deg) translateX($orbit-2-width/2); }
}

@keyframes orbit3 {
	from { 	transform: rotate(0deg) translateX($orbit-3-width/2); }
	to   {  transform: rotate(360deg) translateX($orbit-3-width/2); }
}
