a.forgot-password {
  float: right;
  margin-right: 15px;
}

// registration

*,
:focus {
  outline: none !important;
  scroll-behavior: smooth;
}
.register__wrapper {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.register__form,
.register__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 500px;
  flex: 1 0 500px;
  max-width: 100%;
  padding: 4vmax 2.5vmax;
  min-height: 100vh;
}
.steps__item:first-child {
  padding-left: 0;
}
.steps__item:last-child {
  padding-right: 0;
}
.steps__item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 14px;
  background: #fff;
  text-decoration: none;
  counter-increment: step;
}
.steps,
.steps__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.steps {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0;
  counter-reset: step;
}

.steps:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  z-index: 0;
  background: #d8dff2;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.steps__item--active span {
  font-weight: 600;
}
.steps__item span {
  font-size: 14px;
  line-height: 1;
  color: #000;
}

.steps__item:before {
  content: counter(step);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eff2fd;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #687086;
  font-weight: 600;
  font-size: 13px;
  margin-right: 11px;
  font-style: normal;
  line-height: 1rem;
}
form {
  display: block;
  margin-top: 0em;
}

.input__field {
  display: block;
  width: 100%;
  color: #444;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 11px 16px;
  font-size: 14px;
  line-height: 18px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.select__field {
  display: block;
  width: 100%;
  color: #444;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 11px 30px 11px 16px;
  font-size: 14px;
  background: #fff;
  line-height: 18px;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.register__text {
  color: $primary_color;
  text-align: center;
  margin-top: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}
p {
  line-height: 150%;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.register__form .button {
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 12.5px 25px;
  border-radius: 8px;
  line-height: 1.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
}
.button--primary {
  color: #fff;
  background-color: $primary_color;
}
.button--md {
  padding: 12px 19px;
}
.button {
  position: relative;
  border: none;
  padding: 0;
  font-weight: 600;
  font-size: 13px;
  border-radius: 4px;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.form-field__label-wrapper[data-v-2d117fc6] {
  // display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3px;
}
.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.input-password__field {
  display: block;
  width: 100%;
  color: #444;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 11px 40px 11px 16px;
  font-size: 14px;
  line-height: 18px;
}

.register__form .form-field__label {
  line-height: 1.4;
  color: #071c4d;
}
.form-field__label {
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  color: #444;
  margin-bottom: 0;
}
.btn-primary-continue {
  height: 46px;
  background: $primary_color;
  color: white;
  border: 2px solid $primary_color;
  font-weight: 500;
  border-radius: 6px;
}

.btn-primary-account-create {
  width: 208px;
  height: 46px;
  background: $primary_color;
  color: white;
  border: 2px solid $primary_color;
  font-weight: 500;
  border-radius: 6px;
}
.btn-primary-continue:hover {
  background: $primary_color;
  color: white;
}
.btn-primary-continue.focus,
.btn-primary-continue:focus,
.btn-primary-continue.active {
  box-shadow: 0 0 0 0.2rem white;
  background: $primary_color;
}
.btn-primary-account-create:hover {
  background: $primary_color;
  color: white;
}
.btn-primary-account-create.focus,
.btn-primary-account-create:focus,
.btn-primary-account-create.active {
  box-shadow: 0 0 0 0.2rem white;
  background: $primary_color;
}

.btn-outline-secondary-back {
  width: 208px;
  height: 46px;
  background: transparent;
  color: black;
  border: 1px solid rgb(226, 225, 225);
  font-weight: 500;
  border-radius: 6px;
}

.btn-outline-secondary-back:hover {
  background: #d1e4ee;
  color: $primary_color;
  border: 1px soild rgb(226, 225, 225);
}

.register__text {
  color: #071c4d;
  text-align: center;
  margin-top: 25px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
}

.login_btn {
  padding: 15px;
}

.login {
  .left-panel {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
