.sidebar_brand img {
    width: 100%;
}

.main_nav {
    margin-top: 15px;
    background: #f05a22;
}
.main_nav ul{
    margin: 0;
    padding: 0;
}
.main_nav ul li {
    position: relative;
    text-transform: capitalize;
}

.main_nav ul li a:hover {
    background: $secondary_color;
    color: #fff;
}

.main_nav ul li a svg:hover {
    color: #fff !important;
}

.main_nav ul li a {
    color: #fff;
    display: block;
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
}

.main_nav ul li .active {
    background: $secondary_color;
}

// .main_nav ul li .active:after {
//     position: absolute;
//     content: "";
//     width: 5px;
//     height: 40px;
//     background: #a0350d;
//     top: 0;
//     left: 0px;
// }

.sidebar a {
    text-decoration: none;
    color: white;
}
.sidebar h4 {
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    background: $primary_color;
}
.main_nav ul li a{
    transition: all ease 0.4s;
    &:hover{
        padding-left: 20px;
    }
}

.main_nav ul li .subMenuIcon {
    position: absolute;
    right: 20px;
    z-index: 10;
    top: 10px;
}

.main_nav .subMenu {
    position: absolute;
    left: 105%;
    top: -14px;
    width: 200px;
    border-radius: 8px;
    background: rgb(231, 246, 254);
    z-index: 9;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
    padding: 15px 0;
}

.main_nav .subMenu li a {
    display: block;
    width: 100%;
    color: rgb(54, 53, 53);
    font-size: 1rem;
    font-weight: 400;
    &.active{
        color: #fff;
    }
}

.main_nav .subMenu li:hover {
    background: rgb(231, 246, 254);
}

.main_nav ul li:hover .subMenu {
    visibility: visible;
    opacity: 1;
    left: 100%;
}

.sidebar_brand {
    padding-top: 15px;
    padding-bottom: 10px;
    background: $secondary_color;
}
