@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

$primary_color: #f05a22;
$secondary_color: #e24d25;
$primary_hover_color: #d43b12;
// $primary_font_color: #007bff;
// $secondary_font_color: #00a8f8;
$secondary_font_color_1: #212121;
$secondary_font_color_2: #444444;
$table_header_color: #666;
$table_bg_color: #f0f5e0;
$white_color: #ffffff;
$danger_color: #dc3545;

@import "./header.scss";
@import "./layout.scss";
@import "./navbar.scss";
@import "./dashboard.scss";
@import "./homepage.scss";
@import "./error.scss";
@import "./responsive.scss";
@import "./button.scss";
@import "./table.scss";
@import "./switch.scss";
@import "./icons.scss";
@import "./liveOrders.scss";
@import "./login.scss";
@import "./orderHistory.scss";
@import "./delivery.scss";
@import "./file.scss";
@import "./discount.scss";
@import "./users.scss";

.custom-text-primary {
  color: $primary_color;
}

body {
  color: $secondary_font_color_1;
  line-height: 1.5;

  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  text-align: left;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
ul,
li {
  list-style: none;
  padding: 0;
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: $primary_color;
  transition: 0.6s;
  :hover {
    color: $secondary_color;
  }
}

a:hover {
  text-decoration: none;
  color: $primary_color;
}

.sidebar_brand img {
  width: 70%;
}

.page-item.active .page-link {
  background: $primary_hover_color;
  border-color: $primary_hover_color;
}

.page-link {
  color: $primary_hover_color;
}

.btn-link {
  color: rgb(56, 52, 52);
}
.btn-link:hover {
  text-decoration: none;
  color: rgb(56, 52, 52);
}

.page-title {
  font-size: 1.09375rem;
  color: rgb(77, 72, 72);
}

.form-control:focus {
  box-shadow: none !important;
}

button:focus {
  box-shadow: none !important;
}

input[type="color"] {
  border: 0;
  padding: 0;
  background: transparent;
  width: 30px;
  height: 30px;
}

.color-field {
  border: 1px solid #ddd;
  padding: 6px 15px;
  border-radius: 4px;
}

/////////////////////////

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
