thead {
    background-color: #f4f6f9;
    color: #292929;
}

thead a {
    color: $table_header_color;
}

.table-image {
    background: rgb(228, 232, 235);
    border-radius: 4px;
    max-width: 93px;
    min-width: 93px;
    height: 56px;
    margin-right: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: right;
}

.first-column {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

// Pagination
.customPaginationComponent {
    border-top: 1px solid #dee2e6;
    .pagination {
        margin-bottom: 0 !important;
    }
    .customer-pagination {
        margin-top: 0 !important;
    }
    .showing_text {
        color: #212529;
    }
}

// Item
.itemTableRow {
    .table:not(.table-sm):not(.table-md):not(.dataTable) th{
        height: fit-content;
    }
    .tableFooter {
        border-top: 1px solid #dee2e6;
    }
    .pagination {
        margin-bottom: 0 !important;
    }
}


// Outlet table
.outletListTable {
    .table thead{
        border: 0 solid transparent;
        background: transparent !important;
    }
    .table thead th {
        border: 0 solid transparent !important;
    }
    .table td, .table th {
        border-top: 0 solid transparent !important;
    }

    .outletTalbe tbody tr {
        border: 1px solid #dee2e6 !important;
        th {
            height: auto !important;
        }
        p {
            color:#a2b8c6;
        }
    }
    h6 {
        font-size: 14px;
        position: relative;
        top: 8px;
    }
    .digabled {
        color:#a2b8c6;
    }
}
