.userHeader {
  .invite-user {
    // width: 150px;

    small {
      margin-left: 8px;
      color: $white_color !important;
    }
    svg {
      stroke: $white_color !important;
      position: relative;
      top: 3px;
    }
  }
}

.pagination.react-bootstrap-table-page-btns-ul {
  justify-content: flex-end;
}

.react-bootstrap-table-pagination {
}

span.react-bs-table-sizePerPage-dropdown.dropdown {
  margin-right: 10px;

  button#pageDropDown {
    background: $white_color;
    color: $secondary_font_color_1;
    border: 1px solid #ddd;
  }
}
