{% extends 'app/base.html' %}
{% load static %}

{% block title %} Home || Metafor {% endblock %}

{% block body %}
<!-- ============================================== HEADER : END ============================================== -->
<div class="body-content outer-top-vs" id="top-banner-and-menu">
  <div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-3 sidebar">
        <div class="side-menu animate-dropdown">
          <div class="head"><i class="icon fa fa-bars"></i> Categories</div>
          <nav class="yamm megamenu-horizontal">
            <ul class="nav">
               <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-shopping-bag" aria-hidden="true"></i>Woman-Fashion</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="http://127.0.0.1:8000/category/Woman%20fashion/">Dresses</a></li>
                          <li><a href="#">Shoes </a></li>
                          <li><a href="#">Jackets</a></li>
                          <li><a href="#">Sunglasses</a></li>
                          <li><a href="#">Sport Wear</a></li>
                          <li><a href="#">Blazers</a></li>
                          <li><a href="#">Shirts</a></li>
                          <li><a href="#">Shorts</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="http://127.0.0.1:8000/category/Woman%20fashion/">Handbags</a></li>
                          <li><a href="#">Jwellery</a></li>
                          <li><a href="#">Swimwear </a></li>
                          <li><a href="#">Tops</a></li>
                          <li><a href="#">Flats</a></li>
                          <li><a href="#">Shoes</a></li>
                          <li><a href="#">Winter Wear</a></li>
                          <li><a href="#">Night Suits</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="http://127.0.0.1:8000/category/Woman%20fashion/">Toys &amp; Games</a></li>
                          <li><a href="#">Jeans</a></li>
                          <li><a href="#">Shirts</a></li>
                          <li><a href="#">Shoes</a></li>
                          <li><a href="#">School Bags</a></li>
                          <li><a href="#">Lunch Box</a></li>
                          <li><a href="#">Footwear</a></li>
                          <li><a href="#">Wipes</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="#">Sandals </a></li>
                          <li><a href="#">Shorts</a></li>
                          <li><a href="#">Dresses</a></li>
                          <li><a href="#">Jwellery</a></li>
                          <li><a href="#">Bags</a></li>
                          <li><a href="#">Night Dress</a></li>
                          <li><a href="#">Swim Wear</a></li>
                          <li><a href="#">Toys</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->

              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-laptop" aria-hidden="true"></i>Man-Fashion</a>
                <!-- ================================== MEGAMENU VERTICAL ================================== -->
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="http://127.0.0.1:8000/category/man%20-fashion">Gaming</a></li>
                          <li><a href="#">Laptop Skins</a></li>
                          <li><a href="#">Apple</a></li>
                          <li><a href="#">Dell</a></li>
                          <li><a href="#">Lenovo</a></li>
                          <li><a href="#">Microsoft</a></li>
                          <li><a href="#">Asus</a></li>
                          <li><a href="#">Adapters</a></li>
                          <li><a href="#">Batteries</a></li>
                          <li><a href="#">Cooling Pads</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="#">Routers &amp; Modems</a></li>
                          <li><a href="#">CPUs, Processors</a></li>
                          <li><a href="#">PC Gaming Store</a></li>
                          <li><a href="#">Graphics Cards</a></li>
                          <li><a href="#">Components</a></li>
                          <li><a href="#">Webcam</a></li>
                          <li><a href="#">Memory (RAM)</a></li>
                          <li><a href="#">Motherboards</a></li>
                          <li><a href="#">Keyboards</a></li>
                          <li><a href="#">Headphones</a></li>
                        </ul>
                      </div>
                      <div class="dropdown-banner-holder">
                        <a href="#"><img alt="" src="{% static 'assets/images/banners/banner-side.png' %}" /></a>
                      </div>
                    </div>
                    <!-- /.row -->
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu -->
                <!-- ================================== MEGAMENU VERTICAL ================================== --> </li>
              <!-- /.menu-item -->

              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-paw" aria-hidden="true"></i>Tech</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="http://127.0.0.1:8000/category/Tech/">Tech all</a></li>
                          <li><a href="#">Shoes </a></li>
                          <li><a href="#">Jackets</a></li>
                          <li><a href="#">Sunglasses</a></li>
                          <li><a href="#">Sport Wear</a></li>
                          <li><a href="#">Blazers</a></li>
                          <li><a href="#">Shirts</a></li>
                          <li><a href="#">Shorts</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="#">Handbags</a></li>
                          <li><a href="#">Jwellery</a></li>
                          <li><a href="#">Swimwear </a></li>
                          <li><a href="#">Tops</a></li>
                          <li><a href="#">Flats</a></li>
                          <li><a href="#">Shoes</a></li>
                          <li><a href="#">Winter Wear</a></li>
                          <li><a href="#">Night Suits</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="#">Toys &amp; Games</a></li>
                          <li><a href="#">Jeans</a></li>
                          <li><a href="#">Shirts</a></li>
                          <li><a href="#">Shoes</a></li>
                          <li><a href="#">School Bags</a></li>
                          <li><a href="#">Lunch Box</a></li>
                          <li><a href="#">Footwear</a></li>
                          <li><a href="#">Wipes</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="#">Sandals </a></li>
                          <li><a href="#">Shorts</a></li>
                          <li><a href="#">Dresses</a></li>
                          <li><a href="#">Jwellery</a></li>
                          <li><a href="#">Bags</a></li>
                          <li><a href="#">Night Dress</a></li>
                          <li><a href="#">Swim Wear</a></li>
                          <li><a href="#">Toys</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->

              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-clock-o"></i>Foods</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="http://127.0.0.1:8000/category/Foods">Home foods</a></li>
                          <li><a href="#">Laptop Skins</a></li>
                          <li><a href="#">Apple</a></li>
                          <li><a href="#">Dell</a></li>
                          <li><a href="#">Lenovo</a></li>
                          <li><a href="#">Microsoft</a></li>
                          <li><a href="#">Asus</a></li>
                          <li><a href="#">Adapters</a></li>
                          <li><a href="#">Batteries</a></li>
                          <li><a href="#">Cooling Pads</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="#">Routers &amp; Modems</a></li>
                          <li><a href="#">CPUs, Processors</a></li>
                          <li><a href="#">PC Gaming Store</a></li>
                          <li><a href="#">Graphics Cards</a></li>
                          <li><a href="#">Components</a></li>
                          <li><a href="#">Webcam</a></li>
                          <li><a href="#">Memory (RAM)</a></li>
                          <li><a href="#">Motherboards</a></li>
                          <li><a href="#">Keyboards</a></li>
                          <li><a href="#">Headphones</a></li>
                        </ul>
                      </div>
                      <div class="dropdown-banner-holder">
                        <a href="#"><img alt="" src="{% static 'assets/images/banners/banner-side.png' %}" /></a>
                      </div>
                    </div>
                    <!-- /.row -->
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->

              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-diamond"></i>Books</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="http://127.0.0.1:8000/category/Book">Novel</a></li>
                          <li><a href="#">Shoes </a></li>
                          <li><a href="#">Jackets</a></li>
                          <li><a href="#">Sunglasses</a></li>
                          <li><a href="#">Sport Wear</a></li>
                          <li><a href="#">Blazers</a></li>
                          <li><a href="#">Shirts</a></li>
                          <li><a href="#">Shorts</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="#">Handbags</a></li>
                          <li><a href="#">Jwellery</a></li>
                          <li><a href="#">Swimwear </a></li>
                          <li><a href="#">Tops</a></li>
                          <li><a href="#">Flats</a></li>
                          <li><a href="#">Shoes</a></li>
                          <li><a href="#">Winter Wear</a></li>
                          <li><a href="#">Night Suits</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="#">Toys &amp; Games</a></li>
                          <li><a href="#">Jeans</a></li>
                          <li><a href="#">Shirts</a></li>
                          <li><a href="#">Shoes</a></li>
                          <li><a href="#">School Bags</a></li>
                          <li><a href="#">Lunch Box</a></li>
                          <li><a href="#">Footwear</a></li>
                          <li><a href="#">Wipes</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-12 col-md-3">
                        <ul class="links list-unstyled">
                          <li><a href="#">Sandals </a></li>
                          <li><a href="#">Shorts</a></li>
                          <li><a href="#">Dresses</a></li>
                          <li><a href="#">Jwellery</a></li>
                          <li><a href="#">Bags</a></li>
                          <li><a href="#">Night Dress</a></li>
                          <li><a href="#">Swim Wear</a></li>
                          <li><a href="#">Toys</a></li>
                        </ul>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
              <!-- /.menu-item -->

              <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-heartbeat"></i>Others</a>
                <ul class="dropdown-menu mega-menu">
                  <li class="yamm-content">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="http://127.0.0.1:8000/category/Others">Gaming</a></li>
                          <li><a href="#">Laptop Skins</a></li>
                          <li><a href="#">Apple</a></li>
                          <li><a href="#">Dell</a></li>
                          <li><a href="#">Lenovo</a></li>
                          <li><a href="#">Microsoft</a></li>
                          <li><a href="#">Asus</a></li>
                          <li><a href="#">Adapters</a></li>
                          <li><a href="#">Batteries</a></li>
                          <li><a href="#">Cooling Pads</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-lg-4">
                        <ul>
                          <li><a href="#">Routers &amp; Modems</a></li>

                          <li><a href="#">CPUs, Processors</a></li>
                          <li><a href="#">PC Gaming Store</a></li>
                          <li><a href="#">Graphics Cards</a></li>
                          <li><a href="#">Components</a></li>
                          <li><a href="#">Webcam</a></li>
                          <li><a href="#">Memory (RAM)</a></li>
                          <li><a href="#">Motherboards</a></li>
                          <li><a href="#">Keyboards</a></li>
                          <li><a href="#">Headphones</a></li>
                        </ul>
                      </div>
                      <div class="dropdown-banner-holder"> <a href="#">
                        <img alt="" src="{% static 'assets/images/banners/banner-side.png' %}" /></a>
                       </div>
                    </div>
                    <!-- /.row -->
                  </li>
                  <!-- /.yamm-content -->
                </ul>
                <!-- /.dropdown-menu --> </li>
                <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-paper-plane"></i>Kids & Baby</a></li>
                <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-heartbeat"></i>Media & feshion</a></li>
                <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-envira"></i>Social</a></li>
              <!-- /.menu-item -->

            </ul>
            <!-- /.nav -->
          </nav>
          <!-- /.megamenu-horizontal -->
        </div>
        <!-- /.side-menu -->
        <!-- ================================== TOP NAVIGATION : END ================================== -->
        <div class="app-img outer-bottom-xs">
            <img alt="app" src="{% static 'assets/images/app-img.jpg' %}" />
        </div>
    </div>

   <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div id="hero">
      <!-- slider  -->
          <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
            {% if slider_obj %}
            {% for slider in slider_obj %}
            <div class="item" style="background-image: url({{ slider.slider_image }})">
              <div class="container-fluid">
                <div class="caption bg-color vertical-center text-left">
                  <div class="slider-header fadeInDown-1">{{ slider.slide_layer1 }}</div>
                  <div class="big-text fadeInDown-1"> {{ slider.slide_layer2 }} </div>
                  <div class="excerpt fadeInDown-2 hidden-xs"> <span>{{ slider.slide_layer3 }}</span> </div>
                  <div class="button-holder fadeInDown-3">
                    <a href="{{ slider.slide_link }}" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a>
                  </div>
                </div>
                <!-- /.caption -->
              </div>
              <!-- /.container-fluid -->
            </div>
            {% endfor %}
            {% endif %}
            <!-- /.item -->
          </div>
          <!-- /.owl-carousel -->
          <!-- end slider  -->
        </div>
        <div class="info-boxes wow fadeInUp">
          <div class="info-boxes-inner">
            <div>
              {% if box_text %}
              {% for box in box_text %}
              <div class="col-md-6 col-sm-4 col-lg-4">
                <div class="info-box">
                  <div class="row">
                    <div class="col-xs-12">
                      <h4 class="info-box-heading green">{{ box.box_title }}</h4>
                    </div>
                  </div>
                  <h6 class="text">{{ box.box_body }}</h6>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
            <!-- /.row -->
          </div>
          <!-- /.info-boxes-inner -->

        </div>
   </div>

    </div>

    <div class="row">
      <!-- ============================================== SIDEBAR ============================================== -->

      <!-- /.sidemenu-holder -->
      <!-- ============================================== SIDEBAR : END ============================================== -->

      <!-- ============================================== CONTENT ============================================== -->
      <div class="col-xs-12 col-sm-12 col-md-12 homebanner-holder">
        <!-- ========================================== SECTION – HERO ========================================= -->
                <!-- ============================================== WIDE PRODUCTS ============================================== -->
        <div class="wide-banners wow fadeInUp outer-bottom-xs">
          <div class="row">
            {% if ads1 %}
            {% for ads in ads1 %}
            <div class="col-md-4 col-sm-4">
              <div class="wide-banner cnt-strip">
                <div class="image"> <img class="img-responsive" src="{{ ads.image }}" alt=""> </div>
              </div>
              <!-- /.wide-banner -->
            </div>
            {% endfor %}
            {% endif %}
          </div>
          <!-- /.row -->
        </div>
        <!-- /.wide-banners -->
        <!-- ============================================== SCROLL TABS ============================================== -->
        <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
          <div class="more-info-tab clearfix ">
            <h3 class="new-product-title pull-left">Top category</h3>
            <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
              <li class="active"><a data-transition-type="backSlide" href="#woman" data-toggle="tab">Woman</a></li>
              <li><a data-transition-type="backSlide" href="#man" data-toggle="tab">Man</a></li>
              <li><a data-transition-type="backSlide" href="#foods" data-toggle="tab">Foods</a></li>
              <li><a data-transition-type="backSlide" href="#books" data-toggle="tab">Books</a></li>
              <li><a data-transition-type="backSlide" href="#tech" data-toggle="tab">Tech</a></li>
            </ul>
            <!-- /.nav-tabs -->
          </div>
          <div class="tab-content outer-top-xs">
            <div class="tab-pane in active" id="woman">
              <div class="product-slider">
                <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
                  <!--  Woman-Fashion -->
                  {% if woman_cat %}
                  {% for product in woman_cat %}
                  <div class="item item-carousel">
                    <div class="products">
                      <div class="product">
                        <div class="product-image">
                          <div class="image">
                            <a href="{% url 'productDetails_views' product.name %}">
                              {% if not product.product_image %}
                                <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                                {% else %}
                                <img  src="{{ product.product_image }}" alt="">
                              {% endif %}
                            </a>
                          </div>
                          <!-- /.image -->
                        </div>
                        <!-- /.product-image -->
                        <div class="product-info text-left">
                          <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                          <div class="description"></div>
                          <div class="product-price">
                            <span class="price"> ৳ {{ product.product_price }} </span>
                             <span class="price-before-discount">৳ {{ product.discount_price }}</span> </div>
                          <!-- /.product-price -->
                        </div>
                        <!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                                <li class="add-cart-button btn-group">
                                  <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                                </li>
                                <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                              </ul>
                          </div>
                          <!-- /.action -->
                        </div>
                        <!-- /.cart -->
                      </div>
                      <!-- /.product -->

                    </div>
                    <!-- /.products -->
                  </div>
                  <!-- /.item -->
                  {% endfor %}
                  {% endif %}
                    <!-- end show all Woman-Fashion -->

                </div>
                <!-- /.home-owl-carousel -->
              </div>
              <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="man">
              <div class="product-slider">
                <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                  <!-- Man category -->
                  {% if man_cat %}
                  {% for product in man_cat %}
                  <div class="item item-carousel">
                    <div class="products">
                      <div class="product">
                        <div class="product-image">
                          <div class="image">
                            <a href="{% url 'productDetails_views' product.name %}">
                              {% if not product.product_image %}
                                <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                                {% else %}
                                <img src="{{ product.product_image }}" alt="">
                              {% endif %}
                            </a>
                          </div>
                          <!-- /.image -->
                        </div>
                        <!-- /.product-image -->

                        <div class="product-info text-left">
                          <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                          <div class="description"></div>
                          <div class="product-price">
                            <span class="price"> ৳ {{ product.product_price }} </span>
                             <span class="price-before-discount">৳ {{ product.discount_price }}</span> </div>
                          <!-- /.product-price -->

                        </div>
                        <!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                                <li class="add-cart-button btn-group">
                                  <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                                </li>
                                <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                              </ul>
                          </div>
                          <!-- /.action -->
                        </div>
                        <!-- /.cart -->
                      </div>
                      <!-- /.product -->

                    </div>
                    <!-- /.products -->
                  </div>
                  <!-- /.item -->
                  {% endfor %}
                  {% endif %}
                  <!-- /.item -->
                </div>
                <!-- /.home-owl-carousel -->
              </div>
              <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="foods">
              <div class="product-slider">
                <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                  <!-- Foods category -->
                  {% if food_cat %}
                  {% for product in food_cat %}
                  <div class="item item-carousel">
                    <div class="products">
                      <div class="product">
                        <div class="product-image">
                          <div class="image">
                            <a href="{% url 'productDetails_views' product.name %}">
                              {% if not product.product_image %}
                                <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                                {% else %}
                                <img src="{{ product.product_image }}" alt="">
                              {% endif %}
                            </a>
                          </div>
                          <!-- /.image -->
                        </div>
                        <!-- /.product-image -->

                        <div class="product-info text-left">
                          <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                          <div class="description"></div>
                          <div class="product-price">
                            <span class="price">৳ {{ product.product_price }} </span>
                             <span class="price-before-discount">৳ {{ product.discount_price }}</span> </div>
                          <!-- /.product-price -->
                        </div>
                        <!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                                <li class="add-cart-button btn-group">
                                  <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                                </li>
                                <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                              </ul>
                          </div>
                          <!-- /.action -->
                        </div>
                        <!-- /.cart -->
                      </div>
                      <!-- /.product -->

                    </div>
                    <!-- /.products -->
                  </div>
                  <!-- /.item -->
                  {% endfor %}
                  {% endif %}
                  <!-- /.item -->
                </div>
                <!-- /.home-owl-carousel -->
              </div>
              <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->


            <div class="tab-pane" id="books">
              <div class="product-slider">
                <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                  <!-- Books category -->
                  {% if books_cat %}
                  {% for product in books_cat %}
                  <div class="item item-carousel">
                    <div class="products">
                      <div class="product">
                        <div class="product-image">
                          <div class="image">
                            <a href="{% url 'productDetails_views' product.name %}">
                              {% if not product.product_image %}
                                <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                                {% else %}
                                <img src="{{ product.product_image }}" alt="">
                              {% endif %}
                            </a>
                          </div>
                          <!-- /.image -->
                        </div>
                        <!-- /.product-image -->

                        <div class="product-info text-left">
                          <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                          <div class="description"></div>
                          <div class="product-price">
                            <span class="price">৳ {{ product.product_price }} </span>
                             <span class="price-before-discount">৳ {{ product.discount_price }}</span> </div>
                          <!-- /.product-price -->
                        </div>
                        <!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                                <li class="add-cart-button btn-group">
                                  <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                                </li>
                                <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                              </ul>
                          </div>
                          <!-- /.action -->
                        </div>
                        <!-- /.cart -->
                      </div>
                      <!-- /.product -->

                    </div>
                    <!-- /.products -->
                  </div>
                  <!-- /.item -->
                  {% endfor %}
                  {% endif %}
                  <!-- /.item -->
                </div>
                <!-- /.home-owl-carousel -->
              </div>
              <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

            <div class="tab-pane" id="tech">
              <div class="product-slider">
                <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                  <!-- tech category -->
                  {% if tech_cat %}
                  {% for product in tech_cat %}
                  <div class="item item-carousel">
                    <div class="products">
                      <div class="product">
                        <div class="product-image">
                          <div class="image">
                            <a href="{% url 'productDetails_views' product.name %}">
                              {% if not product.product_image %}
                                <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                                {% else %}
                                <img src="{{ product.product_image }}" alt="">
                              {% endif %}
                            </a>
                          </div>
                          <!-- /.image -->
                        </div>
                        <!-- /.product-image -->

                        <div class="product-info text-left">
                          <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                          <div class="description"></div>
                          <div class="product-price">
                            <span class="price">৳ {{ product.product_price }} </span>
                             <span class="price-before-discount">৳ {{ product.discount_price }}</span> </div>
                          <!-- /.product-price -->

                        </div>
                        <!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                                <li class="add-cart-button btn-group">
                                  <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                                </li>
                                <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                              </ul>
                          </div>
                          <!-- /.action -->
                        </div>
                        <!-- /.cart -->
                      </div>
                      <!-- /.product -->

                    </div>
                    <!-- /.products -->
                  </div>
                  <!-- /.item -->
                  {% endfor %}
                  {% endif %}
                  <!-- end night_category category -->
                </div>
                <!-- /.home-owl-carousel -->
              </div>
              <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->

          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.scroll-tabs -->

        <!-- ============================================== WIDE PRODUCTS ============================================== -->
        <div class="wide-banners wow fadeInUp outer-bottom-xs">
          <div class="row">
            <div class="col-md-12">
              {% if homepageAds %}
              {% for homeads in homepageAds %}
              <div class="wide-banner cnt-strip">
                <div class="image">
                  <img style="width: 100%;" class="img-responsive" src="{{ homeads.image }}" alt="">
                </div>
                <div class="strip strip-text">
                  <div class="strip-inner">
                    <h2 class="text-center">{{ homeads.title }}<br>
                      <span class="shopping-needs">{{ homeads.subTitle }}</span></h2>
                  </div>
                </div>
                <!-- /.new-label -->
              </div>
              {% endfor %}
              {% endif %}
              <!-- /.wide-banner -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.wide-banners -->

        <div class="best-deal wow fadeInUp outer-bottom-xs">
          <h3 class="section-title">Tech Category</h3>
          <div class="sidebar-widget-body outer-top-xs">
            <div class="owl-carousel best-seller custom-carousel owl-theme outer-top-xs">
              {% if tech_cat %}
              {% for product in tech_cat %}
              <div class="item">
                <div class="products best-product">
                  <div class="product">
                    <div class="product-micro">
                      <div class="row product-micro-row">
                        <div class="col col-xs-5">
                          <div class="product-image">
                            <div class="image">
                              <a href="{% url 'productDetails_views' product.name %}">
                                {% if not product.product_image %}
                                  <img src="{% static 'assets/images/demo.jpg' %}" alt="">
                                  {% else %}
                                  <img src="{{ product.product_image }}" alt="">
                                {% endif %}
                             </a>
                             </div>
                          </div>
                        </div>
                        <div class="col2 col-xs-7">
                          <div class="product-info">
                            <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                            <div class="rating rateit-small"></div>
                            <div class="product-price"> <span class="price"> ৳ {{ product.product_price }} </span> </div>
                          </div>
                          <div class="action">
      											<div class="add-cart-button btn-group">
      												<button onclick="window.location.href='{% url 'cart_add' product.id %}'" class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
      												<button onclick="window.location.href='{% url 'cart_add' product.id %}'" class="btn btn-primary cart-btn">Add to cart</button>
      											</div>
      										</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <br/><br/>
        <!-- ============================================== Man feshion ============================================== -->
        <section class="section wow fadeInUp new-arriavls">
          <h3 class="section-title">man feshion</h3>
          <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">

            {% if man_cat %}
            {% for product in man_cat %}
            <div class="item item-carousel">
              <div class="products">
                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="{% url 'productDetails_views' product.name %}">
                        {% if not product.product_image %}
                          <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                          {% else %}
                          <img src="{{ product.product_image }}" alt="">
                        {% endif %}
                      </a>
                     </div>
                  </div>
                  <div class="product-info text-left">
                    <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                    <div class="rating rateit-small"></div>
                    <div class="description"></div>
                    <div class="product-price">
                      <span class="price">৳ {{ product.product_price }} </span> <span class="price-before-discount">৳ {{ product.discount_price }}</span> </div>
                  </div>
                  <!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                          <li class="add-cart-button btn-group">
                            <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                          </li>
                          <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                        </ul>
                    </div>
                    <!-- /.action -->
                  </div>
                  <!-- /.cart -->
                </div>
                <!-- /.product -->
              </div>
              <!-- /.products -->
            </div>
            {% endfor %}
            {% endif %}

          </div>
          <!-- /.home-owl-carousel -->
        </section>
        <!-- /.section -->
        <br/>

        <section class="section wow fadeInUp new-arriavls">
          <h3 class="section-title">Woman feshion</h3>
          <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
            {% if woman_cat %}
            {% for product in woman_cat %}
            <div class="item item-carousel">
              <div class="products">
                <div class="product">
                  <div class="product-image">
                    <div class="image"> <a href="{% url 'productDetails_views' product.name %}">
                      {% if not product.product_image %}
                        <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                        {% else %}
                        <img src="{{ product.product_image }}" alt="">
                      {% endif %}
                    </a>
                    </div>
                  </div>
                  <div class="product-info text-left">
                    <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                    <div class="rating rateit-small"></div>
                    <div class="description"></div>
                    <div class="product-price">
                      <span class="price">৳ {{ product.product_price }} </span> <span class="price-before-discount">৳ {{ product.discount_price }}</span> </div>
                  </div>
                  <!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                          <li class="add-cart-button btn-group">
                            <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                          </li>
                          <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                        </ul>
                    </div>
                    <!-- /.action -->
                  </div>
                  <!-- /.cart -->
                </div>
                <!-- /.product -->
              </div>
              <!-- /.products -->
            </div>
            {% endfor %}
            {% endif %}

          </div>
          <!-- /.home-owl-carousel -->
        </section>
        <!-- /.section -->
        <br/>


        <section class="section wow fadeInUp new-arriavls">
          <h3 class="section-title">Foods</h3>
          <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
            {% if food_cat %}
            {% for product in food_cat %}
            <div class="item item-carousel">
              <div class="products">
                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="{% url 'productDetails_views' product.name %}">
                        {% if not product.product_image %}
                          <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                          {% else %}
                          <img src="{{ product.product_image }}" alt="">
                        {% endif %}
                    </a>
                  </div>
                  </div>
                  <div class="product-info text-left">
                    <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                    <div class="rating rateit-small"></div>
                    <div class="description"></div>
                    <div class="product-price">
                      <span class="price">৳ {{ product.product_price }} </span> <span class="price-before-discount">৳ {{ product.discount_price }}</span> </div>
                  </div>
                  <!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                          <li class="add-cart-button btn-group">
                            <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                          </li>
                          <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                        </ul>
                    </div>
                    <!-- /.action -->
                  </div>
                  <!-- /.cart -->
                </div>
                <!-- /.product -->
              </div>
              <!-- /.products -->
            </div>
            {% endfor %}
            {% endif %}

          </div>
          <!-- /.home-owl-carousel -->
        </section>
        <!-- /.section -->

        <!-- Books category -->
        <section class="section wow fadeInUp new-arriavls">
          <h3 class="section-title">Books</h3>
          <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
            {% if books_cat %}
            {% for product in books_cat %}
            <div class="item item-carousel">
              <div class="products">
                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="{% url 'productDetails_views' product.name %}">
                        {% if not product.product_image %}
                          <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                          {% else %}
                          <img src="{{ product.product_image }}" alt="">
                        {% endif %}
                      </a>
                    </div>
                  </div>
                  <div class="product-info text-left">
                    <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                    <div class="rating rateit-small"></div>
                    <div class="description"></div>
                    <div class="product-price">
                      <span class="price">৳{{ product.product_price }} </span> <span class="price-before-discount">৳{{ product.discount_price }}</span> </div>
                  </div>
                  <!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                          <li class="add-cart-button btn-group">
                            <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                          </li>
                          <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                        </ul>
                    </div>
                    <!-- /.action -->
                  </div>
                  <!-- /.cart -->
                </div>
                <!-- /.product -->
              </div>
              <!-- /.products -->
            </div>
            {% endfor %}
            {% endif %}

          </div>
          <!-- /.home-owl-carousel -->
        </section>
        <!-- /.section -->


        <!-- Other category -->
        <section class="section wow fadeInUp new-arriavls">
          <h3 class="section-title">Others</h3>
          <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
            {% if other_cat %}
            {% for product in other_cat %}
            <div class="item item-carousel">
              <div class="products">
                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="{% url 'productDetails_views' product.name %}">
                        {% if not product.product_image %}
                          <img  src="{% static 'assets/images/demo.jpg' %}" alt="">
                          {% else %}
                          <img src="{{ product.product_image }}" alt="">
                        {% endif %}
                      </a>
                    </div>
                  </div>
                  <div class="product-info text-left">
                    <h3 class="name"><a href="{% url 'productDetails_views' product.name %}">{{ product.name }}</a></h3>
                    <div class="rating rateit-small"></div>
                    <div class="description"></div>
                    <div class="product-price">
                      <span class="price">৳{{ product.product_price }} </span> <span class="price-before-discount">৳{{ product.discount_price }}</span> </div>
                  </div>
                  <!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                          <li class="add-cart-button btn-group">
                            <a href="{% url 'cart_add' product.id %}" data-toggle="tooltip" class="btn btn-primary icon" type="submit" data-original-title="Add Cart"> <i class="fa fa-shopping-cart"></i> </a>
                          </li>
                          <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="{% url 'productDetails_views' product.name %}" data-original-title="detials"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </li>
                        </ul>
                    </div>
                    <!-- /.action -->
                  </div>
                  <!-- /.cart -->
                </div>
                <!-- /.product -->
              </div>
              <!-- /.products -->
            </div>
            {% endfor %}
            {% endif %}

          </div>
          <!-- /.home-owl-carousel -->
        </section>
        <!-- /.section -->

      </div>
      <!-- /.homebanner-holder -->
      <!-- ============================================== CONTENT : END ============================================== -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /#top-banner-and-menu -->
{% endblock %}
